apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus.{{ startup_name }}:{{ prometheus_port }}/prometheus
    access: proxy
    isDefault: true

  - name: AgamaDB
    type: influxdb
    url:  http://influxdb.{{ domain_name }}:{{ influxdb_port }}
    access: proxy
    database: example

  - name: InfluxDB:Telegraf
    type: influxdb
    access: proxy
    url: http://influxdb.{{ domain_name }}:{{ influxdb_port }}
    jsonData:
      dbName: syslog