options {
    directory "/var/cache/bind";

    recursion yes;
    allow-query {
        {% for network in allowed_networks %}
        {{ network }};
        {% endfor %}
    };

    forwarders {
        {% for forwarder in dns_forwarders %}
        {{ forwarder }};
        {% endfor %}
    };

    dnssec-validation no;

    auth-nxdomain no;
    listen-on-v6 { any; };
};

statistics-channels {
    inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
    algorithm hmac-sha256;
    secret "{{ dns_transfer_key_secret }}";
};

key "nsupdate.key" {
    algorithm hmac-sha256;
    secret "{{ dns_nsupdate_secret }}";
};