global:
  scrape_interval: 15s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: '/prometheus/metrics'

  # Scrape all VMs
  - job_name: 'linux'
    static_configs:
      - targets:
{% for host in groups['all'] %}
          - '{{ host }}:9100'
{% endfor %}

# Bind9 Exporter
  - job_name: 'bind9'
    static_configs:
      - targets: ['andriikuiava-2:9119']

  # MySQL Exporter
  - job_name: 'mysql'
    static_configs:
      - targets: ['andriikuiava-2:9104']

  # Nginx Exporter
  - job_name: 'nginx'
    static_configs:
      - targets:
        {% for host in groups['web_servers'] -%}
        - {{ host }}:9113
        {% endfor %}