global:
  scrape_interval: 15s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: '/prometheus/metrics'

  - job_name: 'backup_metrics'
    static_configs:
      - targets: [{{ backup_domain }}:9111]

  # Scrape all VMs
  - job_name: 'linux'
    static_configs:
      - targets:
{% for host in groups['all'] %}
          - '{{ host }}:9100'
{% endfor %}

# Bind9 Exporter
  - job_name: 'bind9'
    static_configs:
      - targets: ['andriikuiava-2:9119']

# MySQL Exporter
- job_name: 'mysql'
static_configs:
  - targets: ['andriikuiava-1:9104', 'andriikuiava-2:9104']

# Nginx Exporter
- job_name: 'nginx'
static_configs:
  - targets:
    {% for host in groups['web_servers'] -%}
    - {{ host }}:9113
    {% endfor %}

# HAProxy Exporter
- job_name: 'haproxy'
static_configs:
  - targets: ['andriikuiava-1:9101', 'andriikuiava-2:9101']

# Influx Exporter
- job_name: 'influxdb'
static_configs:
  - targets: ['andriikuiava-2:9424']

# Keepalived Exporter
- job_name: 'keepalived'
static_configs:
  - targets: ['andriikuiava-1:9165', 'andriikuiava-2:9165']
